*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Courier New', Courier, monospace;
}
body
{
    height: 100vh;
    background: linear-gradient(to right,#ffcf1b,#ff8b1d);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 600px;
    height: 450px;
    background-color: #fff;
}
.container h2{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.score
{
    font-size: 20px;
    margin-top: 15px;
    margin-right: 20px;
    text-align: end;
    font-weight: bold;
}
.button
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}
button
{
    border: none;
    font-size: 25px;
    border: none;
    background-color: #ff8b1d;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 0;
}
.display
{
    margin-bottom: 5px;
}
.display p
{
    margin-bottom: 10px;
    color: black;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
}
.result
{
    border: 1px solid black;
    width: auto;
    background-color: rgba(0, 0, 0, 0.30);
    text-align: center;
    width: 50%;
    margin-top: 25px;
    margin-left: 25%;
    padding: 8px;
    border: none;
}
.playagain
{
    display: none;
    justify-content: center;
    margin-top: 15px;
}
a{
    border: 2px solid black;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #ffcf1b;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.green
{
    background-color: lightgreen;
    color: green;
}
.red
{
    background-color: rgb(204, 116, 116);
    color: red;
}